.Project-div{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    
    
}
.Topic{
    font-size: 40px;
    border-radius: 50%;
   background-color: rgb(129, 86, 203);
   padding: 10px 20px;
   margin-top: 25px;
   margin-bottom: 30px;
   text-align: center;
   width: 100%;
}

.Topic:hover{
 font-size: 43px;
 color: white;
 cursor: pointer;
 background-color: rgb(228, 119, 119);
}


.first-projects{
    display: flex;
    gap: 30px;
   
}


.second-project{
    display: flex;
    gap: 30px;
}

.Third-project{
    display: flex;
    gap: 30px;
}


.bankservices{
    display: block;
    padding: 0 10px;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.1);
    margin-bottom: 50px;
    width: 50%;
    height: 50%;

}

.BANK-PHOTO{
width: 100%;
margin-bottom: 20px;
height: fit-content;
cursor: pointer;

}

.BANK-PHOTO:hover{
    width: 102%;
}


.BTN{
    background-color: rgb(134, 235, 19);
    color: white;
    padding: 5px 8px;
    font-size: x-large;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    margin-top: 12px;
    margin-bottom: 12px;
    
}

.BTN:hover{
    color: rgb(247, 88, 9);

}

.Tech-Stack{
    margin-bottom: 10px;
    color: rgb(124, 114, 240);
}
.Tech-S{
    margin-top: 12px;
}


.CBT{
    display: block;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.1);
    margin-bottom: 50px;
    padding: 5px 10px;
    width: 50%;
    height: 50%;
    
}

.CBTPIX{
 margin-bottom: 20px;
 width: 100%;
 cursor: pointer;

}

.CBTPIX:hover{
    width: 101%;
}


.shopcarts{
    display: block;
    margin-bottom: 50px;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.1);
    padding: 0 10px;
    width: 50%;

}

.E-MARTPIX{
  width: 100%;
 margin-bottom: 20px;
 cursor: pointer;
}

.E-MARTPIX:hover{
    width: 101%;
}

.logistics{
    display: block;
    margin-bottom: 50px;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.1);
    padding: 0 10px;
    width: 50%;
}

.logisticsPIX {
    margin-bottom: 20px;
    width: 100%;
    cursor: pointer;
}

.logisticsPIX:hover{
    width: 101%;
}
.CRUD{
    display: block;
    margin-bottom: 50px;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.1);
    padding: 0 10px;
    width: 50%;
}
.crudPIX:hover{
    width: 102% 
}
.crudPIX{
    margin-bottom: 20px;
    width: 100%;
    height: fit-content;
    cursor: pointer;
}
.BookApp{
    display: block;
    margin-bottom: 50px;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.1);
    padding: 0 10px;
    width: 50%;
}
.booklist{
    display: block;
    margin-bottom: 50px;
    padding:  10px;
    width: 100%;
    height: 100%;
}
.booklist-pix{
    width: 100%;
    margin-bottom: 20px;
    height: fit-content;
    cursor: pointer;
}
.booklist-pix:hover{
    width: 102% 
}


/* TABLET MODE */
@media screen and (max-width: 900px) {

    .Project-div{
        padding: 0 15px;
        }
     
     .Topic{
         font-size: x-large;
        }
        
        .Topic:hover{
            font-size: xx-large;
        }
        .bankservices{
            width: 100%;
            object-fit: cover;
        }
        .first-projects{
            flex-direction: column;
        }
        .second-project{
            flex-direction: column;
        }
        .Third-project{
            flex-direction: column;
        }
       .CBT{
        width: 100%;
        }
       .logistics{
        width: 100%;
       }
      .CRUD{
        width: 100%; 
       }
      .shopcarts{
        width: 100%;
      }
      .BookApp{
        width: 100%;
      }

    .BTN{
        background-color: rgb(134, 235, 19);
        color: white;
        padding: 5px 8px;
        font-size: large;
        cursor: pointer;
        border-radius: 12px;
        border: none;
        margin-top: 12px;
        margin-bottom: 12px;
        
    }

}


/* MOBILE VIEW */
@media screen and (max-width: 600px) {

    .Project-div{
       padding: 0 15px;
       display: flex;
       flex-direction: column;
    }

    .Topic{
        font-size: large;
    }
    .Topic:hover{
        font-size: x-large;
    }
    .bankservices{
        width: 100%;
        object-fit: cover;
    }
    .CBT{
        width: 100%;
    }
    .first-projects{
        flex-direction: column;
    }
    .second-project{
        flex-direction: column;
    }
    .Third-project{
        flex-direction: column;
    }
    .logistics{
        width: 100%;
    }
    .shopcarts{
        width: 100%;
    }
    .BookApp{
        width: 100%;
    }
    .CRUD{
        width: 100%;
    }
}